<!DOCTYPE html>
<html>
    <head>
        <title> newsdrop: added </title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body class="add-page mx-auto">
        <%- include('partials/empty-nav.ejs') %>
        <main class="card bg-light mx-auto mt-5">
            <div class="card-header"> Post Updated </div>
            <div class="card-body">
                <h4 class="card-title"> Congrats! Your post was added. </h4>
                <a id="url" href="<%= url %>" target="_blank" class="card border-dark mb-3 post">
                    <div class="card-header text-center">
                        <h5>
                            <span class="text-dark"><%= title %></span>
                        </h5>
                    </div>
                    <div class="card-body text-dark">
                        <p class="card-text"><%= description %></p>
                    </div>
                    <div class="card-footer text-dark">
                        Type: <span class="badge badge-secondary"><%= type %></span>
                        Tags: 
                        <% for(let i = 0; tags && i < tags.length; i++){ %>
                            <span class="badge badge-dark"><%= tags[i] %></span> 
                        <% } %>
                    </div>
                </a>
                <hr>
                <div class="text-center">
                    <a href="/" type="button" class="btn btn-secondary">Home</a>
                    <a href="/edit" type="button" class="btn btn-secondary">Edit</a>
                    <a href="/add" type="button" class="btn btn-secondary">Submit Another Post</a>
                </div>
            </div>
                
        </main>
        
        <%- include('partials/add-footer.ejs') %>
        <script src="js/saveUrl.js"></script>
    </body>
</html>