<!DOCTYPE html>
<html>
    <head>
        <title> newsdrop: added </title>
        <link rel="stylesheet" href="css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    <body class="add-page mx-auto">
        <div class="card bg-light mx-auto mt-5">
            <div class="card-header"> Post Added </div>
            <div class="card-body">
                <h4 class="card-title"> Congrats! Your post was added. </h4>
                <div class="card border-dark mb-3">
                    <div class="card-header text-center">
                        <h5>
                            <a href="<%= url %>" class="text-dark" target="_blank"><%= title %></a>
                        </h5>
                    </div>
                    <div class="card-body text-dark">
                        <p class="card-text"><%= description %></p>
                    </div>
                    <div class="card-footer text-dark">
                        Type: <a href="#" class="badge badge-secondary"><%= type %></a>
                        Tags: 
                        <% for(let i = 0; tags && i < tags.length; i++){ %>
                            <a href="#" class="badge badge-dark"><%= tags[i] %></a> 
                        <% } %>
                    </div>
                </div>
                <hr>
                <div class="text-center">
                    <a href="/" type="button" class="btn btn-secondary">Home</a>
                    <a href="/add" type="button" class="btn btn-secondary">Submit Another Post</a>
                </div>
            </div>
                
        </div>
        
        <%- include('partials/footer.ejs') %>
    </body>
</html>